html {
  overflow: scroll;
  overflow-x: hidden;
}

.card{
  width: 550px;
  height: 550px;
}

.card-text{
  overflow-y: auto;
  height: 150px;
}

.card-image{
  height: 300px;
  width: auto;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.passionBadge{
  background-color: "#A04A4A";
  color: ghostwhite;
}

/* .carousel-indicators li{
  visibility:hidden;
} */