.page-title {
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
}

.formContainer {
    max-width: 800px !important;
    padding: 35px 40px;
}

.container-title {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 3rem;
}

.badge-secondary {
    background-color: "#E3E3E3";
}
