.logintitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonText {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
