hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

.msg-tile :hover {
    background-color: rgb(233, 233, 233);
    transition: 0.2s;
    border-radius: 50px;
}

.msg-tile {
    overflow-x: hidden;
}
